aside
    .shopping
        h2.heading-2 My Shopping List
        ul.shopping__list
        //-
            <li class="shopping__item">
                <div class="shopping__count">
                    <input type="number" value="500" step="100">
                    <p>g</p>
                </div>
                <p class="shopping__description">Pasta</p>
                <button class="shopping__delete btn-tiny">
                    <svg>
                        <use href="img/icons.svg#icon-circle-with-cross"></use>
                    </svg>
                </button>
            </li>

        .copyright
            span &copy; by Jonas Schmedtmann. Powered by 
            a.link(href="http://food2fork.com" target="_blank") Food2Fork.com